* {
   margin: 0;
   box-sizing: border-box;
}

.logo {
   width: 100px;
}
.header {
   display: flex;
   justify-content: space-between;
   margin: 0 0.2rem;
   border: 1 solid burlywood;
   border-radius: 0.4rem;
}

.nav-items > ul {
   list-style-type: none;
   display: flex;
}

.nav-items > ul > li {
   padding: 0.5rem;
}

.card {
   margin: 1rem;
   width: 250px;
   padding: 1rem;
}

.image-card {
   width: 100%;
}
