* {
   margin: 0;
   box-sizing: border-box;
}

.logo {
   width: 100px;
}

.header {
   display: flex;
   justify-content: space-between;
   margin: 0 0.2rem;
}

.nav-items > ul {
   list-style-type: none;
   display: flex;
   margin-top: 2rem;
}

.nav-items > ul > li {
   padding: 1rem;
}

.card {
   width: 250px;
   padding: 0.5rem;
}

.image-card {
   width: 100%;
   border-radius: .5rem;
}

.restaurant-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.restaurant-list > * {
   margin: 0.5rem;
}
