* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: antiquewhite;
}

.container {
	background-color: teal;
	color: aliceblue;
	padding: .7rem;
}

#header1 {
	display: flex;
	justify-items: center;
	justify-content: space-evenly;
}

input {
	padding: .2rem;
	border-radius: .3rem;
	border: none;
}